.expList {
    display: flex;
    flex-direction: column;
}

.expList h2 {
    font-size: 40px;
}

.job {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.iconContainer {
    padding-top: 20px;
    width: 122px;
}

.icon {
    margin: auto;
}

.resume h3 {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

.resume:hover {
    color: #16DB65;
    transform: scale(1.02);
    cursor: pointer;
}

.resumeIcon {
    padding: 0.75rem 0.5rem 0.5rem 0.5rem;
    font-size: 13px;
}