.expList {
    display: flex;
    flex-direction: column;
}

.expList h2 {
    font-size: 40px;
}

.job {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.iconContainer {
    padding-top: 20px;
    width: 122px;
}

.icon {
    margin: auto;
}