.jobContainer {
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.icon {
    max-height: 75px;
    width: 50px;
    height: auto;
    margin: 60px 62px 0px 10px;

}

.iconContainer {
    width: 122px;
}