.navBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0;
}

.navBar a {
    padding-top: 1rem;
}

.link:hover {
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .navBar {
        height: 10vh !important;
        width: 100% !important;
        display: flex !important;
        flex-direction: row !important;
        position: fixed !important;
        bottom: 0 !important;
        justify-content: space-between !important;
    }
}