.project {
    margin: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;

}

.project:hover {
    transform: scale(1.02);
    background-color: rgb(157, 163, 154, 0.2);

}

.project img {
    max-height: 75px;
    width: 100px;
    height: auto;
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 7%;
    border: 1px solid #9da39a;
}

.project a {
    text-decoration: none;
    color: white;
    margin-top: 0;
}

.title {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

.projectContent {
    display: flex;
    flex-direction: row;
}

.icon {
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    font-size: 13px;
}

.explore:hover {
    color:  rgb(22, 219, 101);
    cursor: pointer;
}