.project {
    margin: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;

}

.project:hover {
    transform: scale(1.02);
    background-color: rgb(157, 163, 154, 0.2);

}

.project img {
    max-height: 75px;
    width: 100px;
    height: auto;
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 7%;
    border: 1px solid #9da39a;
}

.title {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

.projectContent {
    display: flex;
    flex-direction: row;
}

.icon {
    padding-bottom: 0.1rem;
    padding-left: 0.3rem;
    font-size: 13px;
}


.githubLink:hover {
    color:  rgb(22, 219, 101);
    cursor: pointer;
}

.explore:hover {
    color:  rgb(22, 219, 101);
    cursor: pointer;
}

.chartContainer {
    width: 75%;
    height: 75%;
    /* background-color: rgb(157, 163, 154, 0.2); */
    background-color: rgb(22, 219, 101, 0.5);
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
}

/* .charContainer h2 {
    margin: auto;
} */