.projects {
    text-align: center;
    align-items: center;
}

.slide {
    width: 20%;
    border-radius: 20px;
}

.swiperContainer {
    width: 75vw;
    margin: auto;
    /* border: 3px solid white; */
    border-radius: 20px;
    padding: 2rem;
}

/* h1 {
    padding: 20px;
} */