.project {
    /* position: absolute;
    margin-left: -20px;
    z-index: 1; */
    margin: 1rem;
    border-radius: 8px;
    background-color: #2E5145;
}

/* .project+.project {
    margin-left: -200px;
    z-index: 1;
} */

.project a {
    text-decoration: none;
}

.project img {
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.title {
    margin: 1rem;
}