.social {
    display: flex;
    flex-direction: row;
}

.social a {
    margin-left: 0;
    margin-right: 15px;
    margin-top: 15px;
}

.social a:hover {
    color: #16DB65;
    transform: scale(1.1)
}