.content {
  display: flex;
  flex-direction: row;
}

.stuff {
  width: 55%;
  margin-left: 50%
}

.hero {
  width: 35%;

  position: fixed;
  top: 0;
}

.navBar {
  position: sticky;
  top: 80px;
}

@media only screen and (max-width: 850px) {
  .content {
    flex-direction: column;
  }

  .stuff {
    width: 100%;
    margin-left: 0;
  }

  .hero {
    width: 100%;
    position: static;

  }
}