/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.content {
  display: flex;
  flex-direction: row;
}

.stuff {
  width: 55%;
  margin-left: 50%
}

/* .hero {
  width: 40%;
  position: fixed;
} */

.hero {
  width: 35%;

  position: fixed;
  top: 0;

  /* Add additional styles as needed */
}